a {
    cursor: pointer;
}

.menu-icon {
    background: #37474f;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 300;
}

#sidenav {
    background: #37474f;
    color: #fff;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 200;
}

#transparent-back {
    background: #37474f;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    opacity: 0.6;
    top: 0;
    width: 100%;
    z-index: 100;
}

#username {
    font-size: 20px;
    font-weight: bolder;
}

.mr5 { margin-right: 5px; } .mr10 { margin-right: 10px; } .mr15 { margin-right: 15px; } .mr20 { margin-right: 20px; }

.mt5 { margin-top: 5px; } .mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; } .mt20 { margin-top: 20px; }

.pr5 { padding-right: 5px; } .pr10 { padding-right: 10px; } .pr15 { padding-right: 15px; } .pr20 { padding-right: 20px; }

.pt5 { padding-top: 5px; } .pt10 { padding-top: 10px; } .pt15 { padding-top: 15px; } .pt20 { padding-top: 20px; }

.spacer {
    flex: 1 1 auto;
}

.w20 { width: 20px; } .w30 { width: 30px; } .w40 { width: 40px; } .w50 { width: 50px; } .w100 { width: 100px; } .w200 { width: 200px; } .w300 { width: 300px; } 
.w50 { width: 50px; } .w100 { width: 100px; } .w110 { width: 110px; }
.w120 { width: 120px; } .w130 { width: 130px; } .w140 { width: 140px; } 
.w160 { width: 160px; } .w200 { width: 200px; } .w300 { width: 300px; } .w290 { width: 290px; } 
.w400 { width: 400px; } .w500 { width: 500px; } .w600 { width: 600px; }

.w5p { width: 5%; } .w10p { width: 10%; } .w20p { width: 20%; } .w30p { width: 30%; } .w40p { width: 40%; } .w45p { width: 45%; }
.w49p { width: 49%; } .w50p { width: 50%; } .w60p { width: 60%; } .w70p { width: 70%; } .w80p { width: 80%; } .w90p { width: 90%; }
.w100p { width: 100%; }

.h50 { height: 50px; } .h70 { height: 70px; } .h100 { height: 100px; } .h200 { height: 200px; } 
.h300 { height: 300px; } .h400 { height: 400px; } .h500 { height: 500px; } .h600 { height: 600px; }

.h5p { height: 5%; } .h10p { height: 10%; } .h20p { height: 20%; } .h30p { height: 30%; } .h40p { height: 40%; } .h45p { height: 45%; }
.h49p { height: 49%; } .h50p { height: 50%; } .h60p { height: 60%; } .h70p { height: 70%; } .h80p { height: 80%; } .h90p { height: 90%; }
.h100p { height: 100%; }