<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onCompanyFormSubmit()" [formGroup]="companyForm">
    <mat-form-field id="tradingName">
      <input matInput formControlName="tradingName" type="text" placeholder="Nome fantasia">
    </mat-form-field>

    <mat-form-field id="businessName">
      <input matInput formControlName="businessName" type="text" placeholder="Razão social">
    </mat-form-field>

    <mat-form-field id="description">
      <input matInput formControlName="description" type="text" placeholder="Descrição">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="companyTypes" placeholder="Tipo de companhia" multiple>
          <mat-option *ngFor="let option of selectCompanyTypes" [value]="option.__key">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="clear-both"></div>
    
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" [disabled]="!companyForm.valid">{{submitButton}}</button>    
    </mat-card-actions>
  </form>
</mat-card>

<bonamondo-table-data [params]="paramsToTableData"></bonamondo-table-data>